@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

body {
    padding-top: 50px;
    padding-bottom: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/*Pagina principal*/

.logoPrincipal {
    margin-top: 60px;
    margin-left: 80px;
    height: 80px;
    width: 80px;
}

.tituloPrincipal {
    font-family: 'HK Grotesk', sans-serif;
    font-weight: bold;
    margin-left: 80px;
    color: white;
    font-size: 70px;
}

.eslogan {
    font-family: 'HK Grotesk', sans-serif;
    font-weight: 500;
    margin-left: 80px;
    color: white;
    font-size: 30px;
}
.enlaceMainForo {
    color: #337ab7;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.enlaceMainForo:hover{
    text-decoration:none !important;
}
.botonesPrincipal {
    margin-top: 300px;
}

#btnRegistro {
    background-color: black;
    color: white;
    font-family: 'HK Grotesk', sans-serif;
    font-weight: bold;
    height: 35px;
    width: 140px;
    margin-left: 80px;
}

#btnEntrar {
    font-family: 'HK Grotesk', sans-serif;
    font-weight: bold;
    height: 35px;
    width: 140px;
    margin-left: 20px;
}

.bodyPrincipal {
    background-image: url("/Imagenes/fondoPantalla.jpg");
    background-size: cover;
}

/*End pagina principal*/

/*Site Master*/

.input-icons i {
    position: absolute;
}

.icon {
    padding: 10px;
    min-width: 40px;
    margin-top: 8px;
}

.input-field-master {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    height: 30px;
}

.containerNavBar {
    margin-left: 10px;
    margin-right: 20px;
}

.content {
    position: absolute;
    height: calc(100vh - 50px);
    margin-left: 40px;
    padding: 0px 20px;
    overflow: auto;
    z-index: 0;
    /*width: 100% !important;*/
}

/*End Site Master*/

/*Login and Register*/
.contenedorLogin {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    background-image: url(../Imagenes/fondoPantalla.jpg);
    background-size: cover;
}

.elementoLogin {
    background: #666;
    height: 90%;
    width: 70%;
}

.columna1 {
    width: 50%;
    float: left;
    background: linear-gradient(to right, navy, steelblue);
    height: 100%;
    display: flex;
    align-items: center
}

.columna2 {
    width: 50%;
    float: right;
    height: 100%;
    background-color: white;
    font-family: 'HK Grotesk', sans-serif;
}

#tituloLogin {
    margin-bottom: 34%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 60px;
    font-family: 'HK Grotesk', sans-serif;
    font-weight: 800;
}

#imgLogin {
    position: absolute;
    margin: auto;
    top: 10%;
    left: 0;
    right: 34%;
    bottom: 0;
}

/*End login and register*/

/*Register*/

.formRegistro {
    margin-left: 25%;
}

#btSignUp {
    margin-left: 20%;
    background-color: #0040ff;
    color: white;
    height: 30px;
}

.tituloSignUp {
    text-align: center;
    margin-top: 7%;
}

#textoSignUp {
    font-size: 25px;
    color: #337ab7;
}

#mensajeError {
    color: red;
    vertical-align: middle;
}

/*End register*/

/*Login*/

#formLogin {
    margin-left: 120px;
    margin-top: 100px;
}

#btSignIn {
    margin-left: 20%;
    background-color: #0040ff;
    color: white;
    height: 30px;
}

.tituloSignIn {
    text-align: center;
    margin-top: 7%;
}

#textoSignIn {
    font-size: 25px;
    color: #337ab7;
}
/*End login*/

/*Main Page*/
    .HomePageForum, .HomePageForumplayer {
        border-radius: 8px;
        background-color: #2f52c3;
        display: inline-flex;
        margin: 0 5px;
        height: 130px;
        width: 130px;
        opacity: 0.8;
        color: white;
        transition: 0.3s;
        text-align: center;
    }

    .HomePageForum:hover {
        opacity: 1;
    }

    .HomePageForum small {
        position: relative;
        top: 30%;
        left: 0px;
        text-align: center;
        color: black;
        font-weight: bolder;
        font-size: 1.9rem;
        margin-left: auto;
        margin-right: auto;
    }

    .HomePageForumplayer img {
        position: relative;
        top: 15%;
        left: 30px;
        width: 50%;
        height: 50%;
        display: block;
        transition: 0.3s;
    }

    .HomePageForumplayer:hover small {
        color: white;
    }

    .HomePageForumplayer small {
        position: relative;
        display: block;
        top: 90px;
        right: 36px;
        height: 0px;
        color: black;
        font-weight: bold;
    }

    .inputField {
        display: none;
    }

    #loader {
        margin: 0.25em;
        z-index: 9999;
        width: 10rem;
        height: 0.5rem;
    }

    #main-area {
        margin-top: 1rem;
        padding: 1.4rem 1rem;
        border-radius: 0.4rem;
        /*background-color: #2f52c3;*/
        /*margin-left: 7%;*/
    }

    #loader-fade-text {
        animation: fade 2s ease-in infinite, rgb 5s linear infinite;
    }

    .bar {
        display: flex;
        margin-right: 5%;
    }

    .overlay-buttons {
        color: white;
        transition-duration: 0.5s;
        padding: 0.25em;
        float: right;
    }

    .overlay-buttons:hover,
    #close:hover {
        color: black !important;
    }

    #videoPlayer {
        width: 65vw;
        height: calc((9/16) * 65vw);
        border-style: hidden;
        border-radius: 0.2em;
    }

    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: auto;
        cursor: default;
    }

    #overlay-content {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .containerPlayer {
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .child {
        /* Center vertically */
        position: absolute;
        top: 50%;
    }

    #expand-box {
        background-color: #d4d4d4;
        border: 1px solid #1a1a1a;
        border-radius: 0.2rem;
        margin: 1rem;
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;
    }

    /* The Modal (background) */
    .modal {
        /* Hidden by default */
        display: none;
        /* Stay in place */
        position: fixed;
        /* Sit on top */
        z-index: 1;
        left: 0;
        top: 0;
        /* Full width */
        width: 100%;
        /* Full height */
        height: 100%;
        /* Enable scroll if needed */
        overflow: auto;
        /* Fallback color */
        background-color: rgb(0, 0, 0);
        /* Black w/ opacity */
        background-color: rgba(0, 0, 0, 0.4);
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        /* 15% from the top and centered */
        margin: 15% auto;
        padding: 10px;
        border: 1px solid #888;
        border-radius: 0.2em;
        width: 55%;
    }

    .no-select,
    .overlay-buttons {
        user-select: none;
        /* iOS Safari */
        -webkit-touch-callout: none;
        /* Safari */
        -webkit-user-select: none;
        /* Old versions of Firefox */
        -moz-user-select: none;
        /* Internet Explorer/Edge */
        -ms-user-select: none;
    }

    .transparent-button {
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

    #options-div {
        margin: 1rem;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    #options-button {
        color: white;
        transition-duration: 1s;
        border: 3px solid #a56de2;
        border-radius: 0.4rem;
        padding: 0.5rem;
        float: right;
    }

    #options-dropdown {
        border-radius: 0.2rem;
        display: none;
        position: absolute;
        right: 0;
        background-color: rgb(249, 249, 249);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        bottom: 100%;
    }

    .options {
        cursor: pointer;
        border-radius: 0.2rem;
    }

    #options-dropdown .options {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    #options-dropdown .options:hover {
        border: 3px solid #a56de2;
    }

    #options-div:hover #options-dropdown {
        display: block;
    }

    #options-div:hover #options-button {
        color: black;
    }

    .bar .btnPlay {
        position: absolute;
        top: 50%;
        margin-left: 17%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: rgba(0,0,0,0.9);
        color: white;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    #MainContent_ChildContent2_podcastsVideos {
        display: flex;
    }

    .bar .btnPlay:hover {
        background-color: rgba(0,0,0,0.5);
    }

/*End Main Page*/

/*Menu desplegable*/

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s
    }

    .sidenav a:hover, .offcanvas a:focus {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        overflow: hidden;
        width: 100%;
    }

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

a svg {
    transition: all .5s ease;
}

/*End menu desplegable*/